# See https://help.github.com/ignore-files/ for more about ignoring files.
metro-cache-b96e7a8a7afd1888ee2f605d98f698119184c6a9
# expo
.expo/

# dependencies
/node_modules

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
